<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>ShelfScore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# JavaScript %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%# Navigation %>
    <%= render "shared/components/navigation" %>

    <%# Flash Messages %>
    <%= render "shared/flash/messages" %>

    <%# Main Content %>
    <main>
      <%= yield %>
    </main>

    <%# Footer %>
    <%= render "shared/components/footer" %>
  </body>
</html>
